body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2
}
  
th {
    background-color: #4CAF50;
    color: white;
 }

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 21px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 46%;
  height: 20px;
  width: 20px;
  background-color: rgb(170, 170, 170);
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}